.component {
  margin: 20px;
  padding: 10px;
  width: 300px;
  border: 1px solid black;
  text-align: center;
}

.name {
  color: darkSlateGray;
}

ul.component-list {
  display: flex;
}

li.component-item {
  display: inline;
}


p {
  color: #EEEEEE;
}

body {
  height: 125vh;
  font-family: sans-serif;
  background-color: ghostWhite;
  background: url('../images/background.jpeg');
  background-size: cover;
  height: calc(100vh - 80px);

}

#root {
  margin-top: 80px;
  padding: 30px;
}

.main-image {
  width: 100%;
  height: 100%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  justify-content: center;
}

header * {
  display: inline;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding-top: 10px;
}

header img {
  height: 80px;
  margin-left: 40px;
}

header li {
  margin: 20px;
}

a {
  color: white;
}

.singleTarot {
  display: flex;
  justify-content: center;
}

.button-link {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

h2 {
  margin: .25rem;
}

div.container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  padding: 1rem;
  background-color: skyblue;
  text-align: center;
  
}

/* below is coin css */

.coin-container {
  width: fit-content;
  margin: auto;
}

#coin {
  position: relative;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  cursor: pointer;
  margin-bottom: 1rem;
}

#coin div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  box-shadow: inset 0 0 45px rgba(255, 255, 255, .3), 0 12px 20px -10px rgba(0, 0, 0, .4);
}

.heads {
  background: url('../images/No-Coin.png');
  background-size: 120%;
  background-position-x: center;
  background-position-y: center;
}

.tails {
  background: url('../images/Yes-Coin.png');
  background-size: 120%;
  background-position-x: center;
  background-position-y: center;
}

#coin {
  transition: transform 1s ease-in;
  transform-style: preserve-3d;
}

#coin div {
  position: absolute;
  backface-visibility: hidden;
}

.heads {
  z-index: 100;
}

.tails {
  transform: rotateY(-180deg);
}

#coin.animate-heads {
  animation: flipHeads 3s ease-out forwards;
}

#coin.animate-tails {
  animation: flipTails 3s ease-out forwards;
}

@keyframes flipHeads {
  from {
    transform: rotateY(0);
  }

  to {
    transform: rotateY(1800deg);
  }
}

@keyframes flipTails {
  from {
    transform: rotateY(0);
  }

  to {
    transform: rotateY(1980deg);
  }
}

/* coin css stops here */

.h4tag {
  color: #EEEEEE;
  text-align: center;

}

.button2 {
  text-align: center;
}

.homePage {
  color: #EEEEEE;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  text-align: center;
  margin: 20px;
  padding: 10px;
  width: 300px;
  height: 74px;
  border: 2px solid rgb(100, 96, 96);
  border: auto;

}

.profile {
  color: #EEEEEE;
}

.buttonContainer {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

.infoOnCards {
  color: #EEEEEE;
  height: 130px;
  width: 130px;
  font-weight: bold;
  text-align: center;
  margin: 20px;
  padding: 10px;
  width: 300px;
  height: 100px;
  border: 2px solid rgb(100, 96, 96);
  border: auto;
}

.aboutpage{
  color: #EEEEEE;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  text-align: center;
  margin: 20px;
  padding: 10px;
  width: 300px;
  height: 100px;
  border: 2px solid rgb(100, 96, 96);
  border: auto;
}


.grid-item {
  padding: 20px;
  font-size: 20px;
  text-align: center;
  border: 2px solid rgb(100, 96, 96);
  border: auto;
  
}

a{
  text-decoration: none;
}

.tarots-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30vh;
}



.current-tarot-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.usersimage{
  height: 15rem;
  border: 2px solid rgb(100, 96, 96);
  border: auto;
}

.usersname{
  border: 2px solid rgb(100, 96, 96);
  border: auto;
  margin: revert;
  width: fit-content;
top: 15%;
}






